h1 {
  color: #429c99;
  font-weight: bold;
}

body {
  font-family: "Raleway", sans-serif;
  padding: 20px;
  margin: 70px;
}

h2,
h4,
p {
  color: gray;
}
i {
  color: #429c99;
  font-size: 50px;
  padding: 20px;
}
.container {
  margin: auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: gray;
  padding: 20px;
}

.btn-primary {
  background-color: #429c99;
  border-color: #429c99;
  width: 150px;
}
.btn-primary:hover {
  background-color: #198583;
  border-color: #198583;
}

.cloud {
  font-size: 120px;
  color: #198583;
  margin-left: 50px;
}
.row {
  padding: 20px;
}
.col-2 {
  margin-left: 30px;
}
.temperature {
  font-size: 60px;
  font-weight: bold;
  color: gray;
}

.weather {
  text-align: center;
  margin-top: 55px;
}
.weekday {
  text-align: center;
  margin: 0 auto;
}
